@import '../node_modules/bootstrap/scss/bootstrap.scss';

//Color pallet for step by step.
$color-blue: #8ED8F8;      
$color-orange: #FFBE76;    
$color-red: #F78DA7;       
$color-purple: #D8BFD8;    
$color-green: #B9E3B6;
$off-white: #f8f9fa; 

body {
    background-color: $off-white;
    color: #333; 
}

.features {
    background-color: $color-red;

    .col-md-4 {
        background-color: $color-orange;
        border-radius: 8px;
        padding: 20px;
        margin-bottom: 15px;
    }
}

.features img {
    width: 100%;            
    height: 200px;         
    object-fit: fill;      
    border-radius: 8px;     
}


header {
    background-color: $color-blue;
    color: #fff; 
}
.about {
    background-color: $color-green;
    padding: 40px;
}

.contact {
    background-color: $color-purple;
    padding: 40px;

    form {
        background-color: #fff;
        border-radius: 8px;
        padding: 20px;
    }
}


footer {
    background-color: $color-blue;
    color: #fff;
}